# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/.generated/
*.g.dart
*.g.dart.backup

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/
ios/Runner/Info.plist

# Others
*.log
*.lock

# Environment variables (contains sensitive API keys)
.env